<!DOCTYPE html>
<html>
<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<title></title>
</head>
    <body>
        <p> 신이나를 만들때 </p>
            <form  action = "end" method = "get" class="form-inline">
              <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="님이름" name="name">
              </div>
                  <div class="form-group">
                    <label for="exampleInputEmail2">Your Birth</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="생년월일" name="birthday">
                    <button>제출</button>
                  </div>
            </form>
    </body>
</html>
